<div class="container mt-2 d-flex  justify-content-center Login_formMain " >
    <div class="border login_style  bg-light rounded ">
        <div class=" text-center">
            <p class="modal-title fs-3 mt-3" >Login</p>
            <hr>
        </div>
        <div class="container">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email</label>
                  <input type="email" class="form-control" placeholder="Enter Email Address" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Remember Password</label>
                </div>
                  <div class="text-primary d-flex justify-content-between">
                    <h6 class="text-primary pt-2" >Forget Password ?</h6>
                    <button type="submit" class="btn btn-primary ">Login</button>
                  </div>
              </form>
            </div>
            <hr>
        <div class="text-primary d-flex justify-content-center pb-3 fs-6">
        <pre>  <span>Need an account ?</span> <span class="pe-3" >sign up!</span></pre>
        </div>
    </div>
</div>